{% extends 'blog/components/sidebar_base.html' %}

{% load static wagtailcore_tags wagtailimages_tags blogapp_tags wagtailroutablepage_tags %}

    {% block sidebar_search %}
        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <form role="search" method="get" class="form-search" action="{% routablepageurl blog_page "post_search" %}" method="get">

            <div class="input-group">
              <input type="text" class="form-control search-query" name="q" placeholder="Search&hellip;" title="Search for:" />
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>

            </form>
          </div>
        </div>

    {% endblock %}

    {% block categories_and_tags %}

        {% categories_list %}

        {% tags_list %}

    {% endblock %}
