[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
wagtail = "*"
django-el-pagination = "*"
markdown = "*"
wagtailmenus = "*"
django-compressor = "*"
django-libsass = "==0.7"
pygments = "*"
django-widget-tweaks = "*"

[requires]
python_version = "3.7"
