appdirs==1.4.3
beautifulsoup4==4.6.0
boto3==1.9.250
botocore==1.12.250
certifi==2019.9.11
chardet==3.0.4
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.2.7
django-appconf==1.0.3
django-bakery==0.12.3
django-cogwheels==0.2
django-compressor==2.3
django-el-pagination==3.2.4
django-libsass==0.7
django-modelcluster==5.0
django-taggit==1.1.0
django-toolbelt==0.0.1
django-treebeard==4.3
django-widget-tweaks==1.4.5
djangorestframework==3.10.3
docutils==0.15.2
draftjs-exporter==2.1.7
fs==2.4.11
gunicorn==19.9.0
html5lib==1.0.1
idna==2.8
jmespath==0.9.4
libsass==0.19.4
Markdown==3.1.1
Pillow==6.2.1
pipenv==2018.11.26
psycopg2==2.8.3
Pygments==2.4.2
python-dateutil==2.8.0
pytz==2019.3
rcssmin==1.0.6
requests==2.22.0
rjsmin==1.1.0
s3transfer==0.2.1
six==1.13.0
sqlparse==0.3.0
static3==0.7.0
Unidecode==1.1.1
urllib3==1.25.6
virtualenv==16.7.5
virtualenv-clone==0.5.3
wagtail==2.7
wagtail-bakery==0.3.0
wagtailcodeblock==1.17.1.0
wagtailmenus==2.13.1
wagtailnetlify==0.3
webencodings==0.5.1
Willow==1.3
