beautifulsoup4==4.6.0
certifi==2019.9.11
chardet==3.0.4
Django==2.2.7
django-appconf==1.0.3
django-cogwheels==0.3
django-compressor==2.3
django-el-pagination==3.2.4
django-libsass==0.7
django-modelcluster==5.0
django-taggit==1.1.0
django-treebeard==4.3
django-widget-tweaks==1.4.5
djangorestframework==3.10.3
draftjs-exporter==2.1.7
gunicorn==20.0.0
html5lib==1.0.1
idna==2.8
libsass==0.19.4
Markdown==3.1.1
Pillow==6.2.1
pipenv==2018.11.26
Pygments==2.4.2
pytz==2019.3
rcssmin==1.0.6
requests==2.22.0
rjsmin==1.1.0
setuptools==65.5.1
six==1.13.0
sqlparse==0.3.0
Unidecode==1.1.1
urllib3==1.25.7
virtualenv==16.7.8
virtualenv-clone==0.5.3
wagtail==2.7
wagtailcodeblock==1.17.1.0
wagtailmenus==3.0
webencodings==0.5.1
Willow==1.3
